@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.body{
    background-color: #222222;
    padding-top: 3%;
}
.title{
    color: white;
}
.header{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.connect{
    margin: 10px;
}
.start{
    margin: 10px;
}
.btnCol{
    padding: 20px;
}
.textCol{
    color: white;
    vertical-align: bottom;
}
.connectRow{
    margin-left: 30%;
    margin-right: 30%;
}
.btnRow{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.textRow{
    padding-left: 30px;
    padding-right: 30px;
}
.timeRow{
    padding-top: 30px;
}
.btn{
    margin: 20px;
}
.time{
    color: white;
    width: 10%;
}
.slider{
    width: 80%;
}
.skipRow{
    margin-left: 30%;
    margin-right: 30%;
}
.rest{
    padding-top: 2%;
}